{#
/**
 * @file
 * Profile weather block.
 */
#}
{{ attach_library('weather/weather') }}
<div class= "new">Some markup </div>

<div class = "wrapper">
  <div class="new-background" style="background-image: url('{{ file_url(image) }}');"></div>
  <div class="hellocity">
  <img src="modules/custom/weather/images/newsun.png">
  {{ city }}
  </div>
  <div class="description">
  {{ description }}
  </div>


  <div class="mainwrapper">
    <div class="weather_data">
        min temp<h1> {{ mintemp }}</h1>
    </div>
    <div class="weather_data">
        max temp<h1> {{ maxtemp }}</h1>
    </div>
    <div class="weather_data">
        pressure<h1> {{ pressure }}</h1>
    </div>
    <div class="weather_data">
        humidity<h1> {{ humid }}</h1>
    </div>
    <div class="weather_data">
        wind<h1> {{ speed }}</h1>
    </div>
  </div>

</div>